&i2c1 {
    status = "okay";

    ssd1306: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>;
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0xF1>;
        reset-gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;
        height = <64>;
        width = <128>;
        supply-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
    };
};

&ec11_0 {
    status = "okay";
    gpios = <&gpio0 12 GPIO_ACTIVE_LOW>, <&gpio0 13 GPIO_ACTIVE_LOW>;
    resolution = <4>;
};

&ec11_1 {
    status = "okay";
    gpios = <&gpio0 14 GPIO_ACTIVE_LOW>, <&gpio0 15 GPIO_ACTIVE_LOW>;
    resolution = <4>;
};
