&encoder_left {
    compatible = "zmk,behavior-encoder";
    label = "Left Encoder";
    pin-a = <&gpio0 0 GPIO_ACTIVE_LOW>;
    pin-b = <&gpio0 1 GPIO_ACTIVE_LOW>;
    tap-binding = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
};
