/ {
    ec11_left: ec11_left {
        compatible = "alps,ec11";
        label = "LEFT_ENCODER";
        gpios = <&gpio0 1 GPIO_ACTIVE_HIGH>; // Пин GPIO для левого энкодера
                    triggers-per-rotation = <18>;
    };
};
